.portalheader {
    text-align: center;
}

.topnavbar {
    background-color: #7b7b7b;
    overflow: hidden;
}

.topnavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavbar a:hover {
    background-color: #ddd;
    color: black;
}

.topnavbar a.active {
    background-color: #0446aa;
    color: white;
}

.container {
    width: 40%;
}

.votenameinput {
    display: flex;
    margin-bottom: 25px;
}

.voteduration {
    display: flex;
    margin-top: 50px;
}

.submitbutton {
    margin-top: 50px;
    float: right;
}

.voteinfotable {
    width: 100%;
}

.voteinfotable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.voteinfotable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
