<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Voting Admin Portal</title>
</head>

<body>
    <div class="portalheader">
        <h1>Voting App Administration Portal</h1>
    </div>
    <div class="topnavbar">
        <a href="home"><i class="fa fa-home"></i></a>
        <a href="current">Current Vote</a>
        <a class="active" href="create">New Vote</a>
    </div>

    <div class="container">
        <h2>Create a new vote</h2><br>
        <form action="http://localhost:5001/start_new_vote" method="post">
            <div class="votenameinput">
                <label for="votename">Vote Name:</label>
                <input type="text" name="votename">
            </div>
            <table>
                <tr>
                    <th>
                        Candidate #
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Given Name(s)
                    </th>
                    <th>
                        Association
                    </th>
                </tr>
                <script type="text/javascript">
                    for (var row = 1; row < 6; row++) {
                        document.write("<tr><td>" + row + "</td>")
                        for (var col = 1; col < 4; col++) {
                            var input_name = "candidate" + row + "-" + col
                            document.write("<td><input type=\"text\" name=\"" + input_name + "\"></td>")
                        }
                        document.write("</tr>")
                    }
                </script>
            </table>
            <div class="voteduration">
                <label for="voteduration">Vote Duration (Hours:Minutes):</label>
                <input type="text" name="voteduration">
            </div>
            <input type="submit" class="submitbutton" id="startvote" value="Start Vote">
        </form>
        <script type="text/javascript">
            var disable = JSON.parse('{{disable | tojson}}');
            console.log(disable);
            document.getElementById("startvote").disabled = disable;
        </script>
    </div>

</body>

</html>