<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Voting Admin Portal</title>
</head>

<body>
    <div class="portalheader"><h1>Voting App Administration Portal</h1></div>
    <div class="topnavbar">
        <a href="home"><i class="fa fa-home"></i></a>
        <a class="active" href="current">Current Vote</a>
        <a href="create">New Vote</a>
    </div>

    <div class="container">
        <h2>Current vote status</h2>
        <table>
            <tr>
                <th>
                    Candidate #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Association
                </th>
                <th>
                    Votes
                </th>
            </tr>
        </table>
        <button type="button" class="submitbutton" id="endvote">End Vote</button>
    </div>

</body>

</html>