<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Voting Admin Portal</title>
</head>

<body>
    <div class="portalheader"><h1>Voting App Administration Portal</h1></div>
    <!-- <h2>Voting App Administration Portal</h2> -->
    <div class="topnavbar">
        <a href="home"><i class="fa fa-home"></i></a>
        <a href="current">Current Vote</a>
        <a href="create">New Vote</a>
        <a class="active" href="future">Scheduled Votes</a>
        <a href="past">Past Votes</a>
    </div>
</body>

</html>